<h1>Trainees</h1>

<%= link_to "Add Trainee", new_user_path %>

<table>
  <tr>
    <th>i</th>
    <th>Name</th>
  </tr>
    <% @users.each do |user| %>
  <tr>
    
    <td><%= user.id %></td>
    <td><%= link_to user.name, user %></td>
  </tr>
  <% end %>
  </table>
