<header
  class="bg-white border-b border-gray-300 flex justify-between p-4 sticky top-0 h-20 z-10 items-center"
>
  <div class="px-6">Pokedex</div>
  <div>
    <%= button_to "logout", destroy_user_session_path, method: :delete%>
  </div>
  <div class="md:hidden">☰</div>
</header>
