<nav class="bg-slate-400 w-1/6 md:flex flex-col hidden justify-between p-4 text-center sticky top-20 h-[calc(100vh-80px)]">
        <div>
          right sidebar TOP
        </div>
        <div>
        right sidebar bottom
          
        </div>
      </nav>